.more-button {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 39px;
  background-color: white;
  border-radius: 50px;
  align-items: center;
  margin: 30px 30px;
}

.more-icon {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.more-button-text {
  font-size: 12px;
  letter-spacing: 5px;
  margin-right: 0px;
  margin-left: 8px;
}

.more-info {
  color: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  background: black;
  width: 100%;
}

.more-info.show {
  opacity: 1;
  max-height: 300px;
}

.more-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 4px 0px;
  /* border-bottom: 1px solid #e0e0e0; */
}

.more-info-item-title {
  font-size: 12px;
  letter-spacing: 3px;
  margin-right: 0px;
  margin-left: 8px;
  text-transform: uppercase;
}