.refresh {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer; */
}

.refresh:hover {
  /* background-color: #e0e0e0; */
}

.refresh .refresh-icon {
  fill: #333;
  /* width: 20px;
  height: 20px;
  margin-right: 5px; */
}
