body {
  font-family: 'inter', sans-serif;
}

.morning {
  background-image: url(./assets/backgrounds/mobile/bg-image-daytime.jpg)
}

.background {
    background-image: url(./assets/backgrounds/mobile/P9009.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    max-width: 435px;
    min-height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 30px; */
    gap: 100px;
}

@media (min-width: 768px) {
  .background {
    background-image: url(./assets/backgrounds/desktop/bg-image-nighttime.jpg);
    max-width: 1440px;
    max-height: 800px;
  }
}

.upper-container {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  padding: 30px;
}


.lower-container .more-info {
  padding: 0px;
}

.greeting {
  display: flex;
  align-items: center;
}

.moon-icon {
  margin-right: 10px;
}

.greeting-text {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: normal;
}

.clock-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clock {
  font-size: 100px;
  margin: 0 auto;
  color: white;
}

.clock-and-timezone {
  display: flex;
  color: white;
  align-items:baseline;
}

.location {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
}

.timezone {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: normal;
}


