body {
  font-family: 'inter', sans-serif;
}

.background {
    background-image: url(./assets/backgrounds/mobile/P9009.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    max-width: 375px;
    height: 667px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 220px;
}

@media (min-width: 768px) {
  .background {
    background-image: url(./assets/backgrounds/desktop/bg-image-nighttime.jpg);
    max-width: 1440px;
    max-height: 800px;
  }
}

.greeting {
  display: flex;
  align-items: center;
}

.moon-icon {
  margin-right: 10px;
}

.greeting-text {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: normal;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clock {
  font-size: 100px;
  margin: 0 auto;
  color: white;
}

.clock-and-timezone {
  display: flex;
  color: white;
  align-items:baseline;
}

.location {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
}

.timezone {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: normal;
}


